/* General Style */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* clearfix */
.clearfix:before, .clearfix:after {
      content: " ";
      display: table;
  }
  .clearfix:after {
      clear: both;
  }
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

header {
      width: 100%;
      height: 100vh;
      background: url(https://res.cloudinary.com/kranti/image/upload/v1564427073/profile_city_blzyfq.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
       text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #fff;
      color: #000;
}
nav.black ul li a {
      color: #000;
}
nav.black .logo {
      color: #000;
}
nav.black button {
      color: #000;
}
nav.black button:hover {
      color: #fff;
      background: #000;
      border-radius: 50px;
}
nav.black ul li a:hover {
      color: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 18px;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
nav ul li a:hover {
      text-decoration: none;
      color: #fff;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}
.searchbar{
      background-color: transparent;
      } 
  
      .search_input{
      color: #000;
      border: 0;
      outline: 0;
      background: none;
      width: 0;
      caret-color:transparent;
      line-height: 40px;
      transition: width 0.4s linear;
      border-radius: 50px;
      background-color: #fff;
      }
  
      .searchbar:hover > .search_input{
      padding: 0 10px;
      width: 300px;
      caret-color:#000;
      transition: all 0.4s linear;
      background-color: #fff;
      }

      .search_icon{
      height: 20px;
      width: 20px;
      float: right;
      /* display: flex; */
      justify-content: center;
      align-items: center;
      color:white;
      padding: 7px;
      }
      select{
            /* color:#fff; */
            max-width: 90px;
      }
      #con-select {
            background: transparent;
            color: #fff;
      }
      .con-op{
            color: #000;
            /* background: none; */
      }
      nav.black #con-select {
            color: #000;
      }

/* General button style (reset) */
.button {
      border: none;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background: none;
      cursor: pointer;  
      display: inline-block;
      margin: 10px;
      padding: 0px 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: inherit;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  .button:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  /* Button 1 */
  .button-1 {
      /* border: 3px solid #fff; */
      color: #fff;
  }
  /* Button 1a */
  .button-1a:hover,
  .button-1a:active {
      color: #000;
      background: #fff;
      border-radius: 50px;
  }
  @media(max-width: 1200px) {
      li:last-child {
            display: none;
          }
  }
@media(max-width: 992px) {

       .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
      li:last-child {
             display: block;
          }
      nav ul {
            max-height: 0px;
            background: #000;
      }
       nav.black ul {
            background: #fff;
      }
      nav.black .logo {
            color: #fff;
      }

       .showing {
            max-height: 34em;
      }

       nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            text-align: center;
      }
      .menu-icon {
            display: block;
      }
       #con-select {
            margin: 0 auto;
      }

}
